.layout {
  height: 100%;
  background-color: pink;

  :global {
    .ant-layout {
      height: 100%;
    }
    .ant-layout-header {
      position: relative;
      padding: 0;
    }
    .logo {
      float: left;
      width: 200px;
      height: 60px;
      margin: 2px;
      background: url('~assets/logo.png');
      background-size: cover;
    }
    .proile {
      position: absolute;
      right: 20px;
      color: #fff;
      font-weight: 700;
      span + span {
        margin-left: 20px;
        cursor: pointer;
      }
    }

    .ant-row-rtl .logo {
      float: right;
      margin: 16px 0 16px 24px;
    }

    .site-layout-background {
      background: #fff;
    }
  }
}
